body{
  background-color: #0b0b0b;
  text-align: center;
}

h1{
  color: white;
}

h2{
  color: white;
}

.music{
  display: flex;
  flex-direction: column;
}

.pfp{
  height: 254px;
  width: 254px;
  border-radius: 127px;
  transition: transform 0.3s ease;
  transition: border-radius 0.3s ease;
}

.pfp:hover{
  border-radius: 50px;
}
