body{
  background-color: #0b0b0b;
  text-align: center;
}

h1{
  color: white;
}

.pfp{
  border-radius: 127px;
  transition: transform 0.3s ease;
  transition: border-radius 0.3s ease;
}

.pfp:hover{
    transform: scale(1.05);
  border-radius: 50px;
}
